[data-brand='pdfguru'] {
  --scss-text-black: #1d1d1d;
  --scss-text-gray: #878787;
  --scss-text-white: #ffffff;
  --scss-text-blue: #5f30e2;
  --scss-text-red: #ff6a48;
  --scss-bg-red: #ff6a48;
  --scss-bg-gray: #f7f7f7;
  --scss-bg-orange: #ff8000;
  --scss-bg-green: #009b63;
  --scss-bg-violet: #b15ed2;
  --scss-bg-blue: #7b66f2;
  --scss-bg-light-blue: #ebe7f5;
  --scss-bg-white: #ffffff;
  --scss-bg-pink: #c760aa;
  --scss-bg-purple: #c289d7;
  --scss-bg-dark-blue: #5f30e2;
  --scss-btn-stroke: #beafea;
  --scss-btn-blue: #5f30e2;
  --scss-btn-blue-hover: #5027c1;
  --scss-btn-black: #404040;
  --scss-btn-gray: #dedede;
  --scss-btn-light-gray: #f9f9f9;
  --scss-btn-light-blue: #ebe7f5;
  --scss-icons-gray-1: #d9d9d9;
  --scss-icons-blue: #5f30e2;
  --auth-focus-ring-width: 1px;
  --auth-focus-ring-color: rgba(95, 48, 226, 0.2);
  --font-primary: 'Nunito Sans', sans-serif;
  --text-subtitle-size: 1.25rem;
  --text-subtitle--line-height: 1.5625rem;
  --text-subtitle--font-weight: 400;
  --text-subtitle-emph--font-weight: 700;
  --text-body-size: 1rem;
  --text-body--line-height: 1.375rem;
  --text-body--font-weight: 400;
  --text-body-emph--font-weight: 700;
  --text-body-2-size: 0.875rem;
  --text-body-2--line-height: 1.125rem;
  --text-body-2--font-weight: 400;
  --text-body-2-emph--font-weight: 700;
  --text-caption-xs-size: 0.6875rem;
  --text-caption-xs--line-height: 1rem;
  --text-caption-xs--font-weight: 400;
  --text-caption-size: 0.8125rem;
  --text-caption--line-height: 1.125rem;
  --text-caption--font-weight: 400;
  --text-caption-emph--font-weight: 700;
  --text-caption-overline-size: 0.8125rem;
  --text-caption-overline--line-height: 1rem;
  --text-caption-overline--font-weight: 800;
  --text-leading-desktop-size: 6rem;
  --text-leading-desktop--line-height: 6.875rem;
  --text-leading-desktop--font-weight: 900;
  --text-desktop-title-1-size: 3.125rem;
  --text-desktop-title-1--line-height: 4rem;
  --text-desktop-title-1--font-weight: 900;
  --text-desktop-title-2-size: 2.5rem;
  --text-desktop-title-2--line-height: 3.25rem;
  --text-desktop-title-2--font-weight: 900;
  --text-desktop-title-3-size: 2rem;
  --text-desktop-title-3--line-height: 2.25rem;
  --text-desktop-title-3--font-weight: 800;
  --text-desktop-title-4-size: 1.75rem;
  --text-desktop-title-4--line-height: 2.125rem;
  --text-desktop-title-4--font-weight: 800;
  --text-desktop-title-5-size: 1.5625rem;
  --text-desktop-title-5--line-height: 2rem;
  --text-desktop-title-5--font-weight: 800;
  --text-desktop-title-6-size: 1.25rem;
  --text-desktop-title-6--line-height: 1.5rem;
  --text-desktop-title-6--font-weight: 500;
  --text-desktop-title-6-emph--font-weight: 800;
  --text-leading-mobile-size: 2rem;
  --text-leading-mobile--line-height: 2.5rem;
  --text-leading-mobile--font-weight: 900;
  --text-mobile-title-1-size: 2rem;
  --text-mobile-title-1--line-height: 2.5rem;
  --text-mobile-title-1--font-weight: 900;
  --text-mobile-title-2-size: 1.75rem;
  --text-mobile-title-2--line-height: 2.25rem;
  --text-mobile-title-2--font-weight: 800;
  --text-mobile-title-3-size: 1.5rem;
  --text-mobile-title-3--line-height: 1.875rem;
  --text-mobile-title-3--font-weight: 800;
  --text-mobile-title-4-size: 1.375rem;
  --text-mobile-title-4--line-height: 1.75rem;
  --text-mobile-title-4--font-weight: 800;
  --text-mobile-title-5-size: 1.25rem;
  --text-mobile-title-5--line-height: 1.5rem;
  --text-mobile-title-5--font-weight: 700;
  --text-mobile-title-6-size: 1.125rem;
  --text-mobile-title-6--line-height: 1.375rem;
  --text-mobile-title-6--font-weight: 500;
  --text-mobile-title-6-emph--font-weight: 800;
  --text-input-label-size: 0.75rem;
  --text-input-label--line-height: 0.75rem;
  --text-input-label--font-weight: 400;
  --text-input-helper-text-size: 0.75rem;
  --text-input-helper-text--line-height: 1rem;
  --text-input-helper-text--font-weight: 400;
  --text-input-lg-size: 1rem;
  --text-input-lg--line-height: 1.5rem;
  --text-input-lg--font-weight: 300;
  --text-input-sm-size: 0.875rem;
  --text-input-sm--line-height: 1.25rem;
  --text-input-sm--font-weight: 300;
  --text-avatar-letter-size: 1rem;
  --text-avatar-letter--line-height: 1.125rem;
  --text-avatar-letter--font-weight: 400;
  --text-alert-title-size: 1.125rem;
  --text-alert-title--line-height: 1.25rem;
  --text-alert-title--font-weight: 500;
  --text-chip-badge-size: 1rem;
  --text-chip-badge--line-height: 1.25rem;
  --text-chip-badge--font-weight: 400;
  --text-chip-sm-size: 0.875rem;
  --text-chip-sm--line-height: 1rem;
  --text-chip-sm--font-weight: 400;
  --text-badge-sm-size: 0.625rem;
  --text-badge-sm--line-height: 1rem;
  --text-badge-sm--font-weight: 600;
  --color-primary: #5f30e2;
  --color-primary-light: #7f59e7;
  --color-primary-dark: #42219e;
  --color-primary-contrast-text: #ffffff;
  --color-secondary: #d2294b;
  --color-secondary-light: #ed4c6c;
  --color-secondary-dark: #b61233;
  --color-secondary-contrast-text: #ffffff;
  --color-state-primary-hover: #5f30e214;
  --color-state-primary-50: #5f30e280;
  --color-state-secondary-hover: #d2294b14;
  --color-state-secondary-50: #d2294b80;
  --color-text-primary: #ffffffde;
  --color-text-secondary: #ffffff99;
  --color-text-disabled: #ffffff61;
  --color-action-active: #ffffffde;
  --color-action-hover: #ffffff14;
  --color-action-selected: #ffffff14;
  --color-action-disabled: #ffffff42;
  --color-action-disabled-bg: #ffffff1f;
  --color-action-stroke: #ffffff26;
  --color-bg-white-bg: #1d3142;
  --color-bg-light-grey: #15222e;
  --color-bg-page-grey: #f5f5f5;
  --color-bg-blue-grey: #1a2c3a;
  --color-bg-dark-blue-grey: #6d7580;
  --color-bg-tooltip: #323232;
  --color-bg-dark: #323232;
  --color-common-black: #000000;
  --color-common-white: #ffffff;
  --color-os-divider: #ffffff1f;
  --color-os-outline-border: #ffffff3b;
  --color-os-standard-input-line: #ffffff6b;
  --color-os-filled-input-bg: #0000000f;
  --color-os-filled-input-disabled-background: #0000000a;
  --color-os-backdrop-overlay: #00000080;
  --color-os-snackbar-bg: #323232;
  --color-os-button-outline-action-border: #000000;
  --color-error-main: #d90a0a;
  --color-error-light: #e03b3b;
  --color-error-dark: #970707;
  --color-error-contrast-text: #ffffff;
  --color-error-state-hover-opacity: #d90a0a14;
  --color-error-state-selected-opacity: #d90a0a14;
  --color-error-state-main-50: #d90a0a80;
  --color-warning-main: #f17100;
  --color-warning-light: #f38d33;
  --color-warning-dark: #a84f00;
  --color-warning-contrast-text: #000000;
  --color-warning-state-hover-opacity: #f1710014;
  --color-warning-state-selected-opacity: #f1710014;
  --color-warning-state-main-50: #f1710080;
  --color-success-main: #2eb67d;
  --color-success-light: #339d76;
  --color-success-dark: #005d3a;
  --color-success-contrast-text: #16161a;
  --color-success-state-hover-opacity: #00855414;
  --color-success-state-selected-opacity: #00855414;
  --color-success-state-main-50: #00855480;
  --color-info-main: #0677f0;
  --color-info-light: #3792f3;
  --color-info-dark: #0453a8;
  --color-info-contrast-text: #ffffff;
  --color-info-state-hover-opacity: #0677f014;
  --color-info-state-selected-opacity: #0677f014;
  --color-info-state-main-50: #0677f080;
  --color-primary-opacity-4: #5f30e20a;
  --color-primary-opacity-8: #5f30e214;
  --color-primary-opacity-12: #5f30e21f;
  --color-primary-opacity-16: #5f30e229;
  --color-primary-opacity-20: #5f30e233;
  --color-primary-opacity-24: #5f30e23d;
  --color-primary-opacity-32: #5f30e252;
  --color-primary-opacity-40: #5f30e266;
  --color-primary-opacity-50: #5f30e280;
  --color-primary-opacity-70: #5f30e2b3;
  --g7-hero-bg: linear-gradient(180deg, #16323b 0%, #15222e 100%);
  --g7-hero-glow: radial-gradient(50% 50% at 50% 50%, rgba(46, 182, 125, 0.22), transparent 72%);
  --preview-banner-border: rgba(255, 255, 255, 0.4);
  --preview-banner-subtitle: #16161a;
  --color-primary-filled-50: #efe9fc;
  --color-primary-filled-100: #d3c3f6;
  --color-primary-filled-200: #b59cf1;
  --color-primary-filled-300: #9672ec;
  --color-primary-filled-400: #7c51e7;
  --color-primary-filled-500: #5f30e2;
  --color-primary-filled-600: #532bdc;
  --color-primary-filled-700: #4023d3;
  --color-primary-filled-800: #291dcd;
  --color-primary-filled-900: #000cc4;
  --color-secondary-opacity-4: #d2294b0a;
  --color-secondary-opacity-8: #d2294b14;
  --color-secondary-opacity-12: #d2294b1f;
  --color-secondary-opacity-16: #d2294b29;
  --color-secondary-opacity-20: #d2294b33;
  --color-secondary-opacity-24: #d2294b3d;
  --color-secondary-opacity-32: #d2294b52;
  --color-secondary-opacity-40: #d2294b66;
  --color-secondary-opacity-50: #d2294b80;
  --color-secondary-opacity-70: #d2294bb3;
  --color-secondary-filled-50: #fde4e8;
  --color-secondary-filled-100: #f9bbc7;
  --color-secondary-filled-200: #f48fa2;
  --color-secondary-filled-300: #ee647f;
  --color-secondary-filled-400: #e84664;
  --color-secondary-filled-500: #e22e4c;
  --color-secondary-filled-600: #d2294b;
  --color-secondary-filled-700: #bd2348;
  --color-secondary-filled-800: #a91d45;
  --color-secondary-filled-900: #861340;
  --color-action-4: #ffffff0a;
  --color-action-8: #ffffff14;
  --color-action-12: #ffffff1f;
  --color-action-16: #ffffff29;
  --color-action-20: #ffffff33;
  --color-action-24: #ffffff3d;
  --color-action-32: #ffffff52;
  --color-action-40: #ffffff66;
  --color-error-4: #d90a0a0a;
  --color-error-8: #d90a0a14;
  --color-error-12: #d90a0a1f;
  --color-error-16: #d90a0a29;
  --color-error-20: #d90a0a33;
  --color-error-24: #d90a0a3d;
  --color-error-32: #d90a0a52;
  --color-error-40: #d90a0a66;
  --color-error-50: #d90a0a80;
  --color-warning-4: #f171000a;
  --color-warning-8: #f1710014;
  --color-warning-12: #f171001f;
  --color-warning-16: #f1710029;
  --color-warning-20: #f1710033;
  --color-warning-24: #f171003d;
  --color-warning-32: #f1710052;
  --color-warning-40: #f1710066;
  --color-warning-50: #f1710080;
  --color-success-4: #0085540a;
  --color-success-8: #00855414;
  --color-success-12: #0085541f;
  --color-success-16: #00855429;
  --color-success-20: #00855433;
  --color-success-24: #0085543d;
  --color-success-32: #00855452;
  --color-success-40: #00855466;
  --color-success-50: #00855480;
  --color-info-4: #0677f00a;
  --color-info-8: #0677f014;
  --color-info-12: #0677f01f;
  --color-info-16: #0677f029;
  --color-info-20: #0677f033;
  --color-info-24: #0677f03d;
  --color-info-32: #0677f052;
  --color-info-40: #0677f066;
  --color-info-50: #0677f080;
  --color-material-blue-grey-a400: #78909c;
  --color-material-blue-grey-a700: #455a64;
  --color-material-blue-grey-a200: #b0bec5;
  --color-material-blue-grey-a100: #cfd8dc;
  --color-material-blue-grey-900: #263238;
  --color-material-blue-grey-800: #37474f;
  --color-material-blue-grey-700: #455a64;
  --color-material-blue-grey-600: #546e7a;
  --color-material-blue-grey-500: #607d8b;
  --color-material-blue-grey-400: #78909c;
  --color-material-blue-grey-300: #90a4ae;
  --color-material-blue-grey-200: #b0bec5;
  --color-material-blue-grey-100: #cfd8dc;
  --color-material-blue-grey-50: #eceff1;
  --color-material-red-a700: #d50000;
  --color-material-red-a400: #ff1744;
  --color-material-red-a200: #ff5252;
  --color-material-red-a100: #ff8a80;
  --color-material-red-900: #b71c1c;
  --color-material-red-800: #c62828;
  --color-material-red-700: #d32f2f;
  --color-material-red-600: #e53935;
  --color-material-red-500: #f44336;
  --color-material-red-400: #ef5350;
  --color-material-red-300: #e57373;
  --color-material-red-200: #ef9a9a;
  --color-material-red-100: #ffcdd2;
  --color-material-red-50: #ffebee;
  --color-material-pink-a700: #c51162;
  --color-material-pink-a400: #f50057;
  --color-material-pink-a200: #ff4081;
  --color-material-pink-a100: #ff80ab;
  --color-material-pink-900: #880e4f;
  --color-material-pink-800: #ad1457;
  --color-material-pink-700: #c2185b;
  --color-material-pink-600: #d81b60;
  --color-material-pink-500: #e91e63;
  --color-material-pink-400: #ec407a;
  --color-material-pink-300: #f06292;
  --color-material-pink-200: #f48fb1;
  --color-material-pink-100: #f8bbd0;
  --color-material-pink-50: #fce4ec;
  --color-material-purple-a700: #aa00ff;
  --color-material-purple-a400: #d500f9;
  --color-material-purple-a200: #e040fb;
  --color-material-purple-a100: #ea80fc;
  --color-material-purple-900: #4a148c;
  --color-material-purple-800: #6a1b9a;
  --color-material-purple-700: #7b1fa2;
  --color-material-purple-600: #8e24aa;
  --color-material-purple-500: #9c27b0;
  --color-material-purple-400: #ab47bc;
  --color-material-purple-300: #ba68c8;
  --color-material-purple-200: #ce93d8;
  --color-material-purple-100: #e1bee7;
  --color-material-purple-50: #f3e5f5;
  --color-material-deep-purple-900: #311b92;
  --color-material-deep-purple-800: #4527a0;
  --color-material-deep-purple-700: #512da8;
  --color-material-deep-purple-600: #5e35b1;
  --color-material-deep-purple-500: #673ab7;
  --color-material-deep-purple-400: #7e57c2;
  --color-material-deep-purple-300: #9575cd;
  --color-material-deep-purple-200: #b39ddb;
  --color-material-deep-purple-100: #d1c4e9;
  --color-material-deep-purple-50: #ede7f6;
  --color-material-deep-purple-a100: #b388ff;
  --color-material-deep-purple-a200: #7c4dff;
  --color-material-deep-purple-a400: #651fff;
  --color-material-deep-purple-a700: #6200ea;
  --color-material-indigo-900: #1a237e;
  --color-material-indigo-800: #283593;
  --color-material-indigo-700: #303f9f;
  --color-material-indigo-600: #3949ab;
  --color-material-indigo-500: #3f51b5;
  --color-material-indigo-400: #5c6bc0;
  --color-material-indigo-300: #7986cb;
  --color-material-indigo-200: #9fa8da;
  --color-material-indigo-100: #c5cae9;
  --color-material-indigo-50: #e8eaf6;
  --color-material-indigo-a100: #8c9eff;
  --color-material-indigo-a200: #536dfe;
  --color-material-indigo-a400: #3d5afe;
  --color-material-indigo-a700: #304ffe;
  --color-material-blue-900: #0d47a1;
  --color-material-blue-800: #1565c0;
  --color-material-blue-700: #1976d2;
  --color-material-blue-600: #1e88e5;
  --color-material-blue-500: #2196f3;
  --color-material-blue-400: #42a5f5;
  --color-material-blue-300: #64b5f6;
  --color-material-blue-200: #90caf9;
  --color-material-blue-100: #bbdefb;
  --color-material-blue-50: #e3f2fd;
  --color-material-blue-a100: #82b1ff;
  --color-material-blue-a200: #448aff;
  --color-material-blue-a400: #2979ff;
  --color-material-blue-a700: #2962ff;
  --color-material-light-blue-900: #01579b;
  --color-material-light-blue-800: #0277bd;
  --color-material-light-blue-700: #0288d1;
  --color-material-light-blue-600: #039be5;
  --color-material-light-blue-500: #03a9f4;
  --color-material-light-blue-400: #29b6f6;
  --color-material-light-blue-300: #4fc3f7;
  --color-material-light-blue-200: #81d4fa;
  --color-material-light-blue-100: #b3e5fc;
  --color-material-light-blue-50: #e1f5fe;
  --color-material-light-blue-a100: #80d8ff;
  --color-material-light-blue-a200: #40c4ff;
  --color-material-light-blue-a400: #00b0ff;
  --color-material-light-blue-a700: #0091ea;
  --color-material-cyan-900: #006064;
  --color-material-cyan-800: #00838f;
  --color-material-cyan-700: #0097a7;
  --color-material-cyan-600: #00acc1;
  --color-material-cyan-500: #00bcd4;
  --color-material-cyan-400: #26c6da;
  --color-material-cyan-300: #4dd0e1;
  --color-material-cyan-200: #80deea;
  --color-material-cyan-100: #b2ebf2;
  --color-material-cyan-50: #e0f7fa;
  --color-material-cyan-a100: #84ffff;
  --color-material-cyan-a200: #18ffff;
  --color-material-cyan-a400: #00e5ff;
  --color-material-cyan-a700: #00b8d4;
  --color-material-teal-900: #004d40;
  --color-material-teal-800: #00695c;
  --color-material-teal-700: #00796b;
  --color-material-teal-600: #00897b;
  --color-material-teal-500: #009688;
  --color-material-teal-400: #26a69a;
  --color-material-teal-300: #4db6ac;
  --color-material-teal-200: #80cbc4;
  --color-material-teal-100: #b2dfdb;
  --color-material-teal-50: #e0f2f1;
  --color-material-teal-a100: #a7ffeb;
  --color-material-teal-a200: #64ffda;
  --color-material-teal-a400: #1de9b6;
  --color-material-teal-a700: #00bfa5;
  --color-material-green-900: #1b5e20;
  --color-material-green-800: #2e7d32;
  --color-material-green-700: #388e3c;
  --color-material-green-600: #43a047;
  --color-material-green-500: #4caf50;
  --color-material-green-400: #66bb6a;
  --color-material-green-300: #81c784;
  --color-material-green-200: #a5d6a7;
  --color-material-green-100: #c8e6c9;
  --color-material-green-50: #e8f5e9;
  --color-material-green-a100: #b9f6ca;
  --color-material-green-a200: #69f0ae;
  --color-material-green-a400: #46da83;
  --color-material-green-a700: #00c853;
  --color-material-light-green-900: #33691e;
  --color-material-light-green-800: #558b2f;
  --color-material-light-green-700: #689f38;
  --color-material-light-green-600: #7cb342;
  --color-material-light-green-500: #8bc34a;
  --color-material-light-green-400: #9ccc65;
  --color-material-light-green-300: #aed581;
  --color-material-light-green-200: #c5e1a5;
  --color-material-light-green-100: #dcedc8;
  --color-material-light-green-50: #f1f8e9;
  --color-material-light-green-a100: #ccff90;
  --color-material-light-green-a200: #b2ff59;
  --color-material-light-green-a400: #76ff03;
  --color-material-light-green-a700: #64dd17;
  --color-material-lime-900: #827717;
  --color-material-lime-800: #9e9d24;
  --color-material-lime-700: #afb42b;
  --color-material-lime-600: #c0ca33;
  --color-material-lime-500: #cddc39;
  --color-material-lime-400: #d4e157;
  --color-material-lime-300: #dce775;
  --color-material-lime-200: #e6ee9c;
  --color-material-lime-100: #f0f4c3;
  --color-material-lime-50: #f9fbe7;
  --color-material-lime-a100: #f4ff81;
  --color-material-lime-a200: #eeff41;
  --color-material-lime-a400: #c6ff00;
  --color-material-lime-a700: #aeea00;
  --color-material-yellow-900: #f57f17;
  --color-material-yellow-800: #f9a825;
  --color-material-yellow-700: #fbc02d;
  --color-material-yellow-600: #fdd835;
  --color-material-yellow-500: #ffeb3b;
  --color-material-yellow-400: #ffee58;
  --color-material-yellow-300: #fff176;
  --color-material-yellow-200: #fff59d;
  --color-material-yellow-100: #fff9c4;
  --color-material-yellow-50: #fffde7;
  --color-material-yellow-a100: #ffff8d;
  --color-material-yellow-a200: #ffff00;
  --color-material-yellow-a400: #ffea00;
  --color-material-yellow-a700: #ffd600;
  --color-material-amber-900: #ff6f00;
  --color-material-amber-800: #ff8f00;
  --color-material-amber-700: #ffa000;
  --color-material-amber-600: #ffb300;
  --color-material-amber-500: #ffc107;
  --color-material-amber-400: #ffca28;
  --color-material-amber-300: #ffd54f;
  --color-material-amber-200: #ffe082;
  --color-material-amber-100: #ffecb3;
  --color-material-amber-50: #fff8e1;
  --color-material-amber-a100: #ffe57f;
  --color-material-amber-a200: #ffd740;
  --color-material-amber-a400: #ffc400;
  --color-material-amber-a700: #ffab00;
  --color-material-orange-900: #e65100;
  --color-material-orange-800: #ef6c00;
  --color-material-orange-700: #f57c00;
  --color-material-orange-600: #fb8c00;
  --color-material-orange-500: #ff9800;
  --color-material-orange-400: #ffa726;
  --color-material-orange-300: #ffb74d;
  --color-material-orange-200: #ffcc80;
  --color-material-orange-100: #ffe0b2;
  --color-material-orange-50: #fff3e0;
  --color-material-orange-a100: #ffd180;
  --color-material-orange-a200: #ffab40;
  --color-material-orange-a400: #ff9100;
  --color-material-orange-a700: #ff6d00;
  --color-material-deep-orange-900: #bf360c;
  --color-material-deep-orange-800: #d84315;
  --color-material-deep-orange-700: #e64a19;
  --color-material-deep-orange-600: #f4511e;
  --color-material-deep-orange-500: #ff5722;
  --color-material-deep-orange-400: #ff7043;
  --color-material-deep-orange-300: #ff8a65;
  --color-material-deep-orange-200: #ffab91;
  --color-material-deep-orange-100: #ffccbc;
  --color-material-deep-orange-50: #fbe9e7;
  --color-material-deep-orange-a100: #ff9e80;
  --color-material-deep-orange-a200: #ff6e40;
  --color-material-deep-orange-a400: #ff3d00;
  --color-material-deep-orange-a700: #dd2c00;
  --color-material-brown-900: #3e2723;
  --color-material-brown-800: #4e342e;
  --color-material-brown-700: #5d4037;
  --color-material-brown-600: #6d4c41;
  --color-material-brown-500: #795548;
  --color-material-brown-400: #8d6e63;
  --color-material-brown-300: #a1887f;
  --color-material-brown-200: #bcaaa4;
  --color-material-brown-100: #d7ccc8;
  --color-material-brown-50: #efebe9;
  --color-material-brown-a100: #d7ccc8;
  --color-material-brown-a200: #bcaaa4;
  --color-material-brown-a400: #8d6e63;
  --color-material-brown-a700: #5d4037;
  --color-material-grey-900: #212121;
  --color-material-grey-800: #424242;
  --color-material-grey-700: #616161;
  --color-material-grey-600: #757575;
  --color-material-grey-500: #9e9e9e;
  --color-material-grey-400: #bdbdbd;
  --color-material-grey-300: #e0e0e0;
  --color-material-grey-200: #eeeeee;
  --color-material-grey-100: #f5f5f5;
  --color-material-grey-50: #fafafa;
  --color-material-grey-a100: #f5f5f5;
  --color-material-grey-a200: #eeeeee;
  --color-material-grey-a400: #bdbdbd;
  --color-material-grey-a700: #616161;
  --color-material-bp-red: #d2294b;
  --color-material-bp-red-light: #ffc1c1;
  --color-material-bp-purple-light: #f7c5ff;
  --color-material-bp-purple: #a110b9;
  --color-material-bp-blue-light: #c6e1fa;
  --color-material-bp-blue: #192cd2;
  --color-material-bp-cyan-light: #a4eaf3;
  --color-material-bp-cyan: #139ac1;
  --color-material-bp-teal-light: #adf0f0;
  --color-material-bp-teal: #00a8ab;
  --color-material-bp-orange-light: #fdd7a4;
  --color-material-bp-orange: #e25f49;
  --color-material-bp-deep-purple: #5f30e2;
  --color-material-bp-deep-purple-light: #d3ccff;
  --color-material-bp-green-light: #c5eedf;
  --color-material-bp-green: #008554;
  --color-material-bp-amber-light: #ffeeb3;
  --color-material-bp-amber: #ffba00;
  --spacing-btn-lg-vertical-padding: 1rem;
  --spacing-btn-lg-horizontal-padding: 2rem;
  --radius-btn-lg: 0.75rem;
  --text-button-lg-size: 1.125rem;
  --text-button-lg--line-height: 1.5rem;
  --text-button-lg--font-weight: 700;
  --spacing-btn-md-vertical-padding: 0.75rem;
  --spacing-btn-md-horizontal-padding: 1.25rem;
  --radius-btn-md: 0.5rem;
  --text-button-md-size: 1rem;
  --text-button-md--line-height: 1.125rem;
  --text-button-md--font-weight: 700;
  --spacing-btn-ms-vertical-padding: 0.5rem;
  --spacing-btn-ms-horizontal-padding: 1rem;
  --radius-btn-ms: 0.5rem;
  --spacing-btn-sm-vertical-padding: 0.375rem;
  --spacing-btn-sm-horizontal-padding: 0.625rem;
  --radius-btn-sm: 0.5rem;
  --text-button-sm-size: 0.8125rem;
  --text-button-sm--line-height: 1.25rem;
  --text-button-sm--font-weight: 700;
  --btn-outlined-border-width: 0.125rem;
  --btn-lg-border-width: 0.125rem;
  --spacing-icon-btn-lg-vertical-padding: 1rem;
  --spacing-icon-btn-lg-horizontal-padding: 1rem;
  --radius-icon-btn-lg: 0.75rem;
  --spacing-icon-btn-md-vertical-padding: 0.75rem;
  --spacing-icon-btn-md-horizontal-padding: 0.75rem;
  --radius-icon-btn-md: 0.5rem;
  --spacing-icon-btn-ms-vertical-padding: 0.5rem;
  --spacing-icon-btn-ms-horizontal-padding: 0.5rem;
  --radius-icon-btn-ms: 0.5rem;
  --spacing-icon-btn-sm-vertical-padding: 0.375rem;
  --spacing-icon-btn-sm-horizontal-padding: 0.375rem;
  --radius-icon-btn-sm: 0.5rem;
  --spacing-icon-btn-xs-vertical-padding: 0.1875rem;
  --spacing-icon-btn-xs-horizontal-padding: 0.1875rem;
  --radius-icon-btn-xs: 0.5rem;
  --icon-btn-outlined-border-width: 0.125rem;
  --spacing-input-dense-horizontal-padding: 0.625rem;
  --radius-dense-input: 0.375rem;
  --spacing-input-lg-horizontal-padding: 0.75rem;
  --radius-lg-input: 0.5rem;
  --radius-toast-md: 0.75rem;
  --radius-toast-sm: 0.75rem;
  --radius-tabs-list-md: 0.75rem;
  --radius-tabs-item-md: 0.75rem;
  --radius-tabs-list-sm: 0.5rem;
  --radius-tabs-item-sm: 0.5rem;
  --spacing-badge-default-vertical-padding: 0.25rem;
  --spacing-badge-default-horizontal-padding: 0.5rem;
  --radius-badge-default: 0.25rem;
  --spacing-badge-dense-vertical-padding: 0.25rem;
  --spacing-badge-dense-horizontal-padding: 0.5rem;
  --radius-badge-dense: 0.375rem;
  --preview-banner-bg: #4caf50;
  --preview-banner-icon: #16161a;
  --preview-banner-title: #16161a;
  --color-total-due-bg: transparent;
}
