[data-brand='pdfguru'] {
  --color-primary: #d7143a;
  --color-primary-contrast-text: #ffffff;
  --color-text-primary: #000000de;
  --color-bg-white-bg: #ffffff;
  --font-primary: 'Montserrat', sans-serif;
}
